<!DOCTYPE html>
<html>
	<head>
		<title>Mine and Sweep: Alpha version</title>
		<meta name="viewport" content="width=device-width, initial-scale = 1, user-scalable = no">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
	</head>
	<body>
		<div class="arena">
			<div class="header">
				<div class="inventory">
					<div class="element-wrapper">

						<div class="element">
							<div class="circle"></div>
							<div class="circle">
								<div class="amount">5</div>
							</div>
							<div class="element-time">00 : 11</div>
						</div>

						<div class="element">
							<div class="circle"></div><div class="circle"><div class="amount">0</div></div>
							<div class="element-time">00 : 12</div>
						</div>
					</div>
				</div>

				<div class="timer"><div class="time"></div></div>

				<div class="score">
					<div class="score-wrapper">
						<div class="base"></div>
						<div class="base"><div class="position">2nd</div></div>
					</div>
				</div>
			</div>

			<div class="tile-wrapper">
			</div>
		</div>
		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</body>
</html>
